# Executables
qe
qe_g
qe.exe

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# tmp files
*~
*#


config.mak
config.h
csstoqe
html_style.c
docbook_style.c
*.o
gmon.out
qfribidi
kmaptoqe
ligtoqe
html2png
fbftoqe
fbffonts.c